.App {
  /* border: 1px red solid; */
  text-align: center;

}

.SplashPage {
  /* border: 1px green solid; */
  font-family: 'Cherry Swash', cursive;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgba(153, 139, 89, 1);
  display: grid;
  grid-template-columns: .3fr auto;
  grid-template-rows: .1fr .4fr auto;
  grid-template-areas: "BackgroundDiv petrichorDiv"
                      "BackgroundDiv signupDiv"
                      "BackgroundDiv loginDiv";
}

.Petrichor {
  /* border: 1px red solid; */
  grid-area: petrichorDiv;
  font-family: 'Rye', cursive;
  font-size: 5em;
  letter-spacing: .2em;
  margin: 50px auto;
}

.BackgroundDiv {
  /* border: 1px red solid; */
  grid-area: BackgroundDiv;
}

.SignUpDiv {
  /* border: 1px red solid; */
  grid-area: signupDiv;
  /* display: inline-block; */
}

.LoginDiv {
  /* border: 1px red solid; */
  grid-area: loginDiv;
  /* display: inline-block; */
}

/* Login.jsx ------------------------------------------------------------------------- */

.LoginText {
  display: inline-block;
  padding: 10px 10px 0 10px;
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;
}

/* .LoginForm {
  display: inline-block;
} */

.LoginInput {
  margin: 0 5px 0 5px;
  padding: 0 1px 0 1px;
  border: none;
  border-bottom: 1px solid rgb(7, 7, 7);
  width: 500px;
  height: 50px;
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;
  color: rgba(216, 177, 162, 1);
  background-color: rgba(153, 139, 89, 1);
}

.LoginInput:focus {
  outline: none;
}

.LoginButton {
  margin: 10px 20px 0 5px;
  width: 80px;
  height: 30px;
  border-radius: 12px;
  border-color: rgba(216, 177, 162, 1);
  background-color:  rgba(216, 177, 162, 1);
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;
  color: white;
}

/* Signup.jsx ------------------------------------------------------------------------- */

.SignupText {
  display: inline-block;
  padding: 10px 10px 0 10px;
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;
}

/* .LoginForm {
  display: inline-block;
} */

.SignupInput {
  margin: 0 5px 0 5px;
  padding: 0 1px 0 1px;
  border: none;
  border-bottom: 1px solid rgb(7, 7, 7);
  width: 500px;
  height: 50px;
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;
  color: rgba(216, 177, 162, 1);
  background-color: rgba(153, 139, 89, 1);
}

.SignupInput:focus {
  outline: none;
}

.SignupButton {
  margin: 10px 20px 0 5px;
  width: 80px;
  height: 30px;
  border-radius: 12px;
  border-color: rgba(216, 177, 162, 1);
  background-color:  rgba(216, 177, 162, 1);
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;
  color: white;
}

